option_settings:
  aws:elasticbeanstalk:application:environment:
    EFS_REGION: 'us-west-2'
    EFS_VOLUME_ID: 'fs-fdbb7654'
    EFS_MOUNT_DIR: '/efs'

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # Load the environment data
      EB_APP_CURRENT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EFS_REGION=$(/opt/elasticbeanstalk/bin/get-config environment -k EFS_REGION)
      EFS_VOLUME_ID=$(/opt/elasticbeanstalk/bin/get-config environment -k EFS_VOLUME_ID)
      EFS_MOUNT_DIR=$(/opt/elasticbeanstalk/bin/get-config environment -k EFS_MOUNT_DIR)

      # Mount the EFS file system and create a site directory for Drupal
      cd ${EB_APP_CURRENT_DIR}
      mkdir ${EFS_MOUNT_DIR}
      mount -t nfs4 -o nfsvers=4.1 $(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone).${EFS_VOLUME_ID}.efs.${EFS_REGION}.amazonaws.com:/ ${EFS_MOUNT_DIR}
      mkdir ${EFS_MOUNT_DIR}/sites
      
      # Move drupal/sites to the EFS mount to support automatic scaling
      mv drupal/sites drupal/sites.bak
      ln -sf ${EFS_MOUNT_DIR}/sites drupal/sites 
      [ -f ${EFS_MOUNT_DIR}/firstinit.txt ] && echo "### FirstInit Found. Skipping EFS Init... " || cp -avr drupal/sites.bak/* drupal/sites
      rm -rf drupal/sites.bak

      # Set permissions and create firstinit.txt to prevent Elastic Beanstalk from overwriting drupal/sites on subsequent deployments
      chown webapp:webapp ${EFS_MOUNT_DIR}/sites -R
      [ -f ${EFS_MOUNT_DIR}/firstinit.txt ] && echo "### FirstInit Found" || echo "First Init Complete" > ${EFS_MOUNT_DIR}/firstinit.txt